<div class="container">

  <div class="bottom-border content-style">
    <h1>Visión</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur mollitia, placeat incidunt ea atque?</p>
  </div>
  <div class="bottom-border content-style">
    <h1>Misión</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, accusantium repellat. Modi quas cupiditate architecto?</p>
  </div>
  <div class="bottom-border content-style">
    <h1>¿Quines somos?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eius beatae quibusdam! Libero, molestiae! Illum.</p>
  </div>
</div>