.container-all {
    background-color: #ffffff;
}

.site-container {
    background-color: #ececec;
    color: #000000;
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
}

.wrapper {
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
}

.zoom-effect-container {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1px;
}

.item {
    position: relative;
    border: 1px solid #333;
    overflow: hidden;
    width: 100%;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img {
    height: 200px;
    width: 100%;
}

.top-head {
    background-color: black;
    height: 50px;
    color: rgb(219, 217, 217);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .modal-body {
    width: 500px !important;
    height: 600px !important;
} */

.img-modal {
    width: 100% !important;
    height: 95% !important;
}

.description-text {
    font-size: 15px;
    text-align: justify;
}

.scroll-div {
    max-height: 100vh;
    overflow-y: auto;
}

.max-size {
    max-height: 200px;
}

.site {
    background-color: #cecece
}

.review-container {
    max-height: 500px;
    overflow-y: auto;
}

.rating {
    float: right;
}

.btnResena {
    float: right;
    font-size: 25px;
}

.descriptionContiner {
    min-height: 200px;
}

.img-size {
    width: 25px;
    height: 25px;
}

.photoImg {
    width: 80px;
    height: 60px;
}

.menu ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
}