<div class="container-all">
    <div class="container-fluid site-container">
        <div class="containered">
            <img [src]="touristicCentre.photos[0]" alt="">
            <div class="centered">
                <h1>{{touristicCentre.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 scroll-div">
                <app-site-rating [rate]="maxStars"></app-site-rating>
                <div id="horarios">
                    <h2>Horarios</h2>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let sche of touristicCentre.schedules">
                                <td>{{sche}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-followers [followers]="followers"></app-followers>
            </div>
            <div class="col-md-8">
                <h2>Descripción</h2>
                <p class="description-text">{{touristicCentre.description}}</p>
                <h2>Imágenes</h2>
                <div class="wrapper">
                    <div class="zoom-effect-container" *ngFor="let photo of touristicCentre.photos"
                        (click)="openModal(template, photo)">
                        <div class=" itemModal ">
                            <img src="{{photo}} " alt="">
                        </div>
                    </div>
                </div>
                <app-video-player [urlYoutube]="touristicCentre.video "></app-video-player>
            </div>
            <app-reviews [reviews]="reviews "></app-reviews>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-body">
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
        <img class="img-modal" src="{{img}} " alt="">
    </div>
</ng-template>