<div class="container-all">
    <div class="top-head">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <h1>{{touristicCentre.name}}</h1>
            </div>
            <div class=" col-md-8 col-sm-8 col-lg-8">
                <div class="rating">
                    <app-site-rating [rate]="maxStars"></app-site-rating>
                </div>
            </div>
        </div>
    </div>
    <div class="site-container">
        <div class="site">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="touristicCentre.photos[0]" alt="">
                    <!-- <button class="btn btn-primary btn-block" *ngIf="_permission.basico">Seguir</button>
                     -->
                    <app-followers [followers]="followers"></app-followers>
                    <div id="horarios">
                        <h2>Horarios</h2>
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let sche of touristicCentre.schedules">
                                    <td>{{sche}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="descriptionContiner">
                        <h2>Descripción</h2>
                        <p>{{touristicCentre.description}}</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <h2>Reseñas</h2>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom btnResena" (click)="openModalReview(Reviews)" placement="auto" popover="Nueva Reseña" triggers="mouseenter:mouseleave">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="review-container">
                        <div>
                            <app-reviews [Review]="rev" *ngFor="let rev of reviews"></app-reviews>
                        </div>
                    </div>
                    <h2>Galeria</h2>
                    <div class="wrapper">
                        <div class="menu">
                            <ul>
                                <li *ngFor="let photo of touristicCentre.photos" (click)="openModal(template, photo)">
                                    <img src="{{photo}} " class="photoImg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <app-video-player [urlYoutube]="touristicCentre.video "></app-video-player>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-body">
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
        <img class="img-modal" src="{{img}} ">
    </div>
</ng-template>

<ng-template #Reviews>
    <div class="modal-body">
        <form [formGroup]="formGroupModal">
            <div class="form-group">
                <label for="description">Escribe un comentario</label>
                <input type="text" class="form-control form-control-sm" formControlName="description" id="description" placeholder="Escriba el contenido" [ngClass]="{'is-invalid': FG.description.errors && FG.description.touched}">
                <div *ngIf="FG.description.errors?.required" class="invalid-feedback">
                    <div class="form-control-feedback text-danger" *ngIf="FG.description.errors?.required">
                        * El contenido es requerido
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
        </form>
    </div>
</ng-template>