<div class="col-sm-12 col-md-12 col-lg-12 ">
  <div class="review-container-all">
    <div class="review-container">
      <div class="user-review">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="row">
            <div class="col-2">
              <img [src]="Review.img" alt="" class="img-size">
            </div>
            <div class="col-2">
              <p>{{Review.userName}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
          <p>{{Review.description}}</p>
        </div>
      </div>
      <div class="duenno-review">
        <p></p>
      </div>
    </div>
  </div>
</div>