.review-container-all {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #343a40;
    padding-top: 10px;
}

.review-container {
    margin-top: 25px;;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fefefe;
}
.img-size {
    width: 25px;
    height: 25px;
}