.review-container-all {
    /* border-top-right-radius: 25px;
    border-top-left-radius: 25px;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* padding-top: 10px; */
}

.review-information {
   
    background-color: #343a40;
    display: flex;
}

.review-container {
    /* margin-top: 25px; */
    min-height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fefefe;
}

.img-size {
    width: 25px;
    height: 25px;
}

.logo {
    margin-top: 5px;
    float: right;
}

.name {
    margin-top: 9px;
    color: #fefefe;
}

.btnResena {
    float: right;

}

.blocked-text {
    text-decoration: line-through;
    text-decoration-style: double;
}

.padd-left{
    padding-left: 20px;
}
