<div class="row">
    <div class=" col-sm-2 col-md-2 col-lg-2">
        <H1>Noticias</H1>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <th width="47%">Nombre</th>
        <th width="47%">Fecha</th>
        <th width="6%">
            <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom" (click)="addNew()" placement="auto" popover="Agregar Noticias" triggers="mouseenter:mouseleave">
                <i class="fa fa-plus"></i>
            </button>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let new of news_list">
            <td width="47%">
                {{new.title}}
            </td>
            <td width="47%">
                {{new.date}}
            </td>
            <td width="6%">
                <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom" (click)="updateNew(new.idNews)" placement="auto" popover="Modificar Noticias" triggers="mouseenter:mouseleave">
                    <i class="fa fa-pencil"></i>
                </button>

            </td>
        </tr>
    </tbody>
</table>