<div class="service-container-all">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="..//../../assets/images/user-icon/1803065.png" class="img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nuevo centro turistico</h5>
            <p class="card-text">Si conoces un hermoso lugar, recomiendalo, y hazlo parte de nosotros</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="..//../../assets/images/user-icon/1803065.png" class="img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title">Voletos Estrela</h5>
            <p class="card-text">Voletos estrella, un paquete para toda la familia, lleno de energía y aventuras</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="..//../../assets/images/user-icon/1803065.png" class="img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paladar tentativo</h5>
            <p class="card-text">Si te gusta comer comidas exoticas, entonces esto es para tí, únete y se parte de
              nuestra tentatica familia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>