<block-ui>

    <div class="row" *ngIf="!rating">
        <div class="col-sm-12">
                <h2> <strong>Rating   </strong> <rating [(ngModel)]="rate" [max]="max" [readonly]="true"></rating> </h2>
        </div>
    </div>
    <div *ngIf="rating">
        <div class="row rating">
            <h2> <strong>Rating</strong></h2>
        </div>
        <div class="row rating" style="padding-left: 20px">
            <h2>
                <rating [(ngModel)]="rating.value" [max]="max" [readonly]="readOnly" (click)="ratin($event)"></rating>
            </h2>
        </div>
    </div>
</block-ui>