<div class="container-fluid container-all">
  <div class="row">
    <div class=" col-sm-4 col-md-4 col-lg-4">
      <H1>Perfiles Turisticos</H1>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <th width="94%">Nombre</th>
      <th width="6%">
        <button type="button" *ngIf="permission.admin" class="btn btn-link btn-xs justify-content-rigth padd-bottom"
          (click)="addTourProfile()" placement="auto" popover="Agregar Perfil Turistico"
          triggers="mouseenter:mouseleave">
          <i class="fa fa-plus"></i>
        </button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let tour of tourList">
        <td width="88%">
          {{tour.name}}
        </td>
        <td width="6%">
          <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom"
            (click)="updateTourProfile(tour.id)" placement="auto" popover="Modificar Perfil Turistico"
            triggers="mouseenter:mouseleave" *ngIf="permission.duenno">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td width="6%">
          <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom"
            (click)="deleteTourProfile(tour.id)" placement="auto" popover="Eliminar Perfil Turistico"
            triggers="mouseenter:mouseleave" *ngIf="permission.duenno">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>