.img-costume {
    width: 500px;
    height: 300px;
    border-radius: 3%;
}

.icons {
    color: green !important;
    font-size: 27px;
    bottom: 0;
    position: relative;
}

.centroContent {
    display: flex;
    justify-content: center;
}

.centro {
    padding: 10px;
    margin: 10px;
}