<div class="container-fluid">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control form-control-sm" formControlName="title" id="title" placeholder="Escriba el título" [ngClass]="{'is-invalid': FG.title.errors && FG.title.touched}">
                    <div *ngIf="FG.title.errors?.required" class="invalid-feedback">
                        <div class="form-control-feedback text-danger" *ngIf="FG.title.errors?.required">
                            * El título es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="content">Contenido</label>
                    <input type="text" class="form-control form-control-sm" formControlName="content" id="content" placeholder="Escriba el contenido" [ngClass]="{'is-invalid': FG.content.errors && FG.content.touched}">
                    <div *ngIf="FG.content.errors?.required" class="invalid-feedback">
                        <div class="form-control-feedback text-danger" *ngIf="FG.content.errors?.required">
                            * El contenido es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <br>
                <input style="display: none;" type="file" (change)="onFileSelected(fileInput)" #fileInput>
                <button type="button" class="btn  icons -sm btn-default blockContent" (click)="fileInput.click()" placement="auto" popover="Buscar Imagen" triggers="mouseenter:mouseleave">
                    <i class="fa fa-file-image-o"></i>
                </button>
                <button type="button" class="btn icons btn-link btn-xs justify-content-rigth padd-bottom" (click)="saveNews()" placement="auto" popover="Guardar" triggers="mouseenter:mouseleave">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 centroContent">
                <img [src]="imageSrc" alt="" *ngIf="imageSrc" class="img-costume centro">
            </div>
        </div>
    </form>

</div>