<p>
  contact-us works!
</p>
<div class="container-fluid contact-us-container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" placeholder="Escriba el título">
          <div *ngIf="formGroup.controls['titulo'].dirty">
            <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['titulo'].errors?.required">
              El título es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" placeholder="Escriba el título">
          <div *ngIf="formGroup.controls['titulo'].dirty">
            <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['titulo'].errors?.required">
              El título es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" placeholder="Escriba el título">
          <div *ngIf="formGroup.controls['titulo'].dirty">
            <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['titulo'].errors?.required">
              El título es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-paper-plane"><span> Enviar</span></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <h2>Contactenos</h2>
      <ul>
        <li>
          <i class="fa fa-phone-square"><span> (506) ########</span></i>
        </li>
        <li>
          <i class="fa fa-envelope-square"><span> (506) ########</span></i>
        </li>
        <li>
          <i class="fa fa-cog"><span> (506) ########</span></i>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>