<footer class="page-footer">
  <div class="container-fluid">
    <div class="row footer-body">
      <div class="col-4">
        <h1>Products</h1>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem at quis modi et, neque
          sapiente.</span>
      </div>
      <div class="col-4">
        <h1>Contact US</h1>
        <a [routerLink]="['contact-us']">
          <span>Contact Us</span>
        </a>
      </div>
      <div class="col-4">
        <h1>Support</h1>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem at quis modi et, neque
          sapiente.</span>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Posted by: Hege Refsnes</p>
    <p>Posted by: Hege Refsnes</p>
  </div>
</footer>