<div class="container-fluid">
  <div class="input-group mb-3 mt-3">
    <input type="text" [(ngModel)]="value" class="form-control" placeholder="Nombre del centro turístico"
      aria-label="Nombre o profesor" aria-describedby="button-addon2" (keyup.enter)="searchSites(value)">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="searchSites(value)"
        id="button-addon2">Buscar</button>
    </div>
  </div>
  <div *ngFor="let site of showedList">
    <a [routerLink]="['/dashboard/site', site.idTouristicCentre]">
      <div class="row touristic-card">
        <div class="col-md-4 img-container">
          <img src="{{site.photos[0]}}" class="img-zise">
        </div>
        <div class="col-md-8 card-container">
          <h2>{{site.name}}</h2>
          <p>{{site.description}}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [totalItems]="_site.showedSites.length" [itemsPerPage]="3" [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)" [pageBtnClass]="tt"></pagination>
    </div>
  </div>
</div>