.touristic-card {
    width: 100%;
    padding: 10px;
}

.img-container {
    height: 250px;
    align-content: center;
    padding-left: 200px;
}

.card-container {
    height: 250px;
}

h5 {
    font-family: tahoma;
    font-size: 25;
    color: aliceblue;
}
p {
    font-family: tahoma;
    color: aliceblue;
}

@media (max-width: 600px) {
    .img-container {
        border-right: solid 1px red;
    }
}