<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 input-group mb-3 mt-3">
            <input type="text" [(ngModel)]="selected" class="form-control" placeholder="Nombre del centro turístico" aria-label="Nombre o profesor" aria-describedby="button-addon2">
        </div>
        <div class="col-md-4 input-group mb-3 mt-3">
            <button type="button" class="btn btn-link btn-xs justify-content-rigth padd-bottom" (click)="searchSites()" placement="auto" popover="Buscar" triggers="mouseenter:mouseleave">
                <i class="fa fa-search icons"></i>
            </button>
        </div>
    </div>



    <div class="row no-gutters position-relative" *ngFor="let site of showedList">
        <div class="col-md-2 mb-md-0 p-md-2 img">
            <img src="{{site.photos[0].url}}" class="w-100 img">
        </div>
        <div class="col-md-10 mb-md-0 p-md-2">
            <h5 class="mt-0">{{site.name}}</h5>
            <p>{{site.description}}</p>
            <a [routerLink]="['/dashboard/site', site.id]" class="stretched-link"></a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4 offset-md-5">
        <pagination [totalItems]="site.showedSites.length" [itemsPerPage]="3" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [pageBtnClass]=""></pagination>
    </div>
</div>